<h2 class="text-center">Entrar</h2>

<form #form = "ngForm">
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" id="email" [(ngModel)]="login.email" [ngModelOptions]="{standalone: true}" required />
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" id="password" maxlength="8" [(ngModel)]="login.senha" [ngModelOptions]="{standalone: true}" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block" (click) = "onSubmit()">Entrar</button>
    <button type="button" class="btn btn-success btn-block" (click)= "navigateToCreateAccount()">Criar Conta</button>
</form>